.body{
		background-image: url("./background.jpg");
		background-position: center right;
	}
	.body-wrapper{
		display: block;
		position: absolute;
		margin: 0;
		padding: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-family: arial;
	}
	.body-wrapper .center {
		text-align: center;
		width: 320px;
		margin: 0 auto 0px;
		text-shadow: 5px 3px 7px #000;
		top: 25%;
		left: 0;
		right: 0;
		position: absolute;
	}
	.body-wrapper .center .h1 {
		font-weight: 400;
		font-size: 36px;
		margin: 16px 0px 0px 0px;
	}
	.body-wrapper .center .h2 {
		font-weight: 300;
		font-size: 30px;
		margin: 0px 0px;
	}
	.body-wrapper .center .h3 {
		font-size: 24px;
	}
	.body-wrapper .center .p {
		font-style: italic;
    	margin: 4px 0px 40px 0px;
    	font-size: 14px;
	}
	.body-wrapper .footer {
		text-align: center;
		position: absolute;
		bottom: 6px;
		left: 0;
		right: 0;
		font-size: 12px;
	}
	.body-wrapper .footer a{
		color: white;
    	text-decoration: none;
	}